html
  head
    meta(charset='UTF-8')
    title WebTorrent
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #app
    script(src='/all.js')
